%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{href: "/"} jerseypropertyservices.com
  %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNavDropdown.navbar-collapse.collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{href: '/applications/index'} Applications
      %li.nav-item
        %a.nav-link{href: '/applications/map'} Map
      %li.nav-item
        %a.nav-link{href: '/contact'} Contact
    %ul.navbar-nav
      - if signed_in?
        %li
          %a.nav-link{href: '/users/edit'} Edit profile
        %li
          %a.nav-link{href: '/logout'} Logout
      - else
        %li
          %a.nav-link{href: '/users/register'} Register
        %li
          %a.nav-link{href: '/sessions/new'} Login
