#table-placeholder

%script{src: '/datatables-1.10.18.min.js'}
%script{src: '/draw_apps_table.js'}

:javascript
  $.getJSON("data.json", function(data) {
    drawAppsTable(data, function() {
      var table = $('#tbl').DataTable();
    });
  });
