!!!
%html{:lang => "en-GB"}
  %head
    %title jerseypropertyservices.com
    %meta{ content: "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %link(rel="stylesheet" href="/bootstrap.min.css")
    %link(rel="stylesheet" href="/site.css")
    %script{src: '/jquery-3.3.1.min.js'}
    %script{src: '/popper-1.14.3.min.js'}
    %script{src: '/bootstrap.min.js'}
  %body
    = haml :_navigation
    .container-fluid
    - if @msg
      - if @msg[:success]
        .alert.alert-success{:role => "alert", 'data-dismiss' => 'alert'}
          %strong
            = @msg[:success]
      - if @msg[:failure]
        .alert.alert-danger{:role => "alert", 'data-dismiss' => 'alert'}
          %strong
            = @msg[:failure]
    .container-fluid.site
      = yield
  %ul.navbar.fixed-bottom
    %p.copyright &copy; 2018 jerseypropertyservices.com
:javascript
  $(function(){
    $(".alert").fadeOut(4000);
  });
