.map_container
  #mapDiv.map_canvas
  #toolbarContainer{"style" => "float:right"}

%script{src: '/draw_apps_map.js', type: 'application/javascript'}
%script{src: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCcqaso5O8mOrViohlCe8Bp29FBMz8W24k&libraries=drawing&callback=drawAppsMap', type: 'text/javascript'}
